[{drink,
        [{docroot, "/root/drink/docroot"},
		 {weblogs, "/root/drink/web_log"}]
},
{sasl,
        [{sasl_error_logger, false},
         {error_logger_mf_dir, "/root/drink/log/"},
         {error_logger_mf_maxbytes,10485760}, % 10 MB
         {error_logger_mf_maxfiles, 10}]
},
{mnesia,
        [{schema_location, disc}, {dir, "/root/drink/mnesia_data"}]
},
{yaws,
        [{embedded, true}]
}].