{erl_opts, [{i, "/usr/local/lib/yaws/include/"}, debug_info]}.

{deps, [{ewebauth, "1", {git, "http://github.com/danw/ewebauth.git", "HEAD"}},
        {eldap, "3.0", {git, "http://github.com/danw/eldap.git", "HEAD"}},
        {epam, "1", {git, "http://github.com/danw/epam.git", "HEAD"}},
        {erlang_mysql, "4", {git, "http://github.com/danw/erlang_mysql.git", "HEAD"}}]}.
