body {
    /* WTF JQuery UI */
	font-size: 62.5%;
	font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
}

#header {
    height: 2em;
    font-size: 150%;
}

#header p {
    margin: 0;
}

#balance {
    float: right;
    width: 200px;
    text-align: right;
    padding-right: 0.5em;
}

/*#drink_machines tr.disabled {
    background-color: lightgray;
}

td, th {
    padding: 2px 6px;
    border-style: solid;
    border-color: black gray;
}

td {
    border-width: 0 1px 1px 0;
}

th {
    border-width: 0 0 1px 0;
    text-align: center;
}

td.slotnum, td.slotprice, td.slotavail {
    text-align: center;
}

table {
    border-spacing: 0px;
}

tbody tr td:first-child {
    border-left-width: 1px;
} */

#user_admin_mod_form table {
    border-width: 0;
}

#user_admin_mod_form th {
    text-align: right;
}

#user_admin_mod_form td {
    border-width: 0 0 1px 0;
}

#user_admin_mod_credits {
    width: 100px;
}

#user_admin_mod_form ul {
    margin: 0;
}

#user_admin_user_ibuttons, .ibutton {
    font-family: monospace;
}

#temperature_plot td, #temperature_plot table {
    border-width: 0;
}

#logcontainer .type, #logcontainer .time, #logcontainer .username {
    text-align: center;
}

#logcontainer .error {
    background-color: #fcc;
}

.logprev, .lognext {
    text-decoration: none;
}

.slotaction_edit, .slotaction_drop, .slotaction_disable {
    cursor: pointer;
    color: darkblue;
}

div.machine_title, #machine_add_link {
    margin-top: 0.2em;
}

div.machine_title.ui-state-active, #machine_add_link.ui-state-active {
    border-bottom: 0 !important;
}

div.machine_contents, #machine_add_div {
    border-top: 0;
}

.machine_title span.machine_title_span, #machine_add_link {
    padding: 0.4em;
    line-height: 1.4em;
    display: block;
}